@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pulse-pink: #FF0099;
  --pulse-purple: #6A00FF;
  --pulse-dark: #0A0A0A;
  --pulse-darker: #050505;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--pulse-darker);
  color: white;
}